body {
  font-family: sans-serif;
}

h1 {
  margin-left: 35px;
}

ul {
  list-style: none;
}

.book {
  padding: 10px 5px 5px 25px;
  margin-bottom: 25px;
  border: 1px solid black;
  background: rgb(119, 129, 139);
  max-width: 400px;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
}
